<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>
<table>
  <thead>
    <tr>
      <th><%= sort_movies("Title", "title") %></th>
      <th><%= sort_movies("Rating", "rating") %></th>
      <th><%= sort_movies("Release Date", "release_date") %></th>
    </tr>
  </thead>
  <tbody>
    <div id="movies">
      <% @movies.each do |movie| %>
        <%= render movie %>
      <% end %>
    </div>
  </tbody>
</table>
<%= link_to "New movie", new_movie_path(column: params[:column], order: params[:order]) %>
