<p style="color: green"><%= notice %></p>

<div class="centered">
  <%= render @movie %>
<div class="centered">

<div class="centered">
  <%= link_to "Edit this movie", edit_movie_path(@movie, column: params[:column], order: params[:order]), class: "btn" %> |
  <%= link_to "Back to movies", movies_path(column: params[:column], order: params[:order]), class: "btn" %>

  <%= button_to "Destroy this movie", movie_path(@movie, {column: params[:column], order: params[:order]}), method: :delete, class: "btn" %>
</div>
